.slds-text-heading_medium_extension, .slds-text-heading_small_extension {
    font-weight: normal;
    font-family: "Salesforce Sans";
}

.slds-text_extension {
    color: var(--slds-g-color-on-success-2, #080707);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    line-height: 20px;
}

.table-header {
    color: var(--slds-g-color-on-success-2, #080707);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-scale-1, 14px);
    line-height: 21px;
}

.table-header_source {
    border-bottom: var(--slds-g-radius-border-1, 2px) solid var(--slds-g-color-neutral-base-10, black);
    margin-right: 4rem;
}

.table-header_target {
    border-bottom: var(--slds-g-radius-border-1, 2px) solid var(--slds-g-color-neutral-base-10, black);
    margin-left: 1.75rem;
    margin-right: 3rem;
}