.title {
    font-size: var(--slds-g-font-scale-8, 42px);
    color: var(--slds-g-color-on-surface-3, var(--lwc-colorTextLabel));
    font-weight: lighter;
}

.length {
    margin-top: 5px;
    font-size: var(--slds-g-font-scale-5, 24px);
    font-weight: lighter;
    color: var(--slds-g-color-on-surface-3, var(--lwc-colorTextLabel));
}

.labelContainer {
    position:absolute; 
    top:25px; 
    width:100%; 
    text-align:center
}