.custom-search-result-box {
    width: 100%;
    padding: 0.25rem 0;
    transform: translateY(0);
    clip: rect(0px, 2000px, 2000px, -10px);
    transition: opacity .2s ease-in-out,transform .2s ease-in-out,clip .2s ease-in-out;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 7px rgba(0, 0, 0, .07);
    z-index: 7000;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1px;
    max-height: 20rem;
}

.alignment-direction__bottom-left {
    bottom: 8.5rem;
}

.custom-search-result-box > p {
    padding: 0.5rem 2rem;
}

.custom-search-result-box > p:hover {
    background-color: rgb(243, 242, 242);
    cursor: pointer;
}