.slds-accordion__section_extension {
    /*background-color: #F3F2F2;
    margin: 0.75rem 0;
    border-radius: .25rem;
    border: 0;*/
}

.slds-card_extension {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(221, 219, 218);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.slds-card_extension:hover {
    /*cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.slds-card_extension_active {
    border: 1px solid rgb(21, 137, 238);
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;*/
}

header:hover {
    cursor: pointer;
}