.THIS .selected-address {
    background-color: token(colorBackgroundRowSelected);
}

.THIS .address-button {
    width: 100%;
    line-height: 1.25rem;
    margin-bottom: 8px;
}

.THIS .address-text {
    margin-right: auto;
}

.THIS .slds-modal__container {
    width: 35%;
    min-width: 270px;
    max-width: 400px;
}
 