.THIS li.selected {
    background-color: token(colorBackgroundRowSelected);
}

.THIS .slds-modal__container {
    width: 35%;
    min-width: 270px;
    max-width: 400px;
}

.THIS .slds-section-title--divider {
    padding: 8px;
}