
# Python
*.py                  @SalesforceFoundation/release-management

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-management
/tasks/               @SalesforceFoundation/release-management

# Heroku CI
/Gemfile.lock         @SalesforceFoundation/release-management
/app.json             @SalesforceFoundation/release-management
/requirements.txt     @SalesforceFoundation/release-management
/runtime.txt          @SalesforceFoundation/release-management
