.DS_Store
.appcloud
.externalToolBuilders
.project
.settings
build.properties
salesforce.schema
Referenced Packages
/destructiveChanges.xml
/admin_profile
/uninstall
/uninstallsrc
/installdeploy
/installedPackages
/org_unpackaged
/src.orig
/unpackaged/*/*/*.zip
/unpackaged/namespaced_zipped
/unpackaged/zipped
/unpackaged_stage
/packaged
/test_results.json
/test_results_junit.xml
/venv
.*.swp
