.DS_Store
.appcloud
.externalToolBuilders
.project
.settings
build.properties
salesforce.schema
Referenced Packages
/destructiveChanges.xml
/admin_profile
/browser_tests
/uninstall
/uninstallsrc
/IlluminatedCloud
/installdeploy
/installedPackages
/org_unpackaged
/src.orig
/unpackaged/*/*/*.zip
/unpackaged/namespaced_zipped
/unpackaged/zipped
/unpackaged_stage
/packaged
/test_results.json
/test_results.xml
/test_results_junit.xml
/venv
.*.swp
*.pyc
*.sublime-project
*.sublime-workspace
**/.sfdx/
**/.sf/
**/.vscode/
**/.idea/
**/.mypy_cache/
/config/
log.html
output.xml
report.html
/*.png
robot/Cumulus/results/
datasets/dev_org/test_data.db
*.db
.cci
.sfdx
.sf
# LWC
force-app/main/default/lwc/.eslintrc.json
/node_modules
/coverage
