body{
	/* font-family:Verdana, Arial, Helvetica, sans-serif; */
	font-family: "ProximaNovaSoft-Regular", Calibri, "Gill Sans", "Gill Sans MT", Candara, Segoe, "Segoe UI", Arial, sans-serif;
	font-size:100%;
	margin:0px;
	padding:0px;
}

/* the top page banner  */
.topsection {
	background-color: rgb(98,181,229);
	width:100%;
	height:110px;
	color:white;
}
.topsection td{
	color:white;
	padding:8px;
}

/* section-title is the horizontal section headers that declare the classname, methods, etc. */
.section-title {
    background-color: rgb(155,203,236);
	color:white;
	padding:5px;
	font-size: 100%;
	font-weight:bold;
	margin-bottom:2px;
}
.section-title a {
    color:white;
}

/* details is used for displaying the apexdoc values like author, date, description, params, return value, etc. */
.details {
	border-color:lightgray;
	font-size: .9em;
}
.details th{
	background-color:whitesmoke;
	color:black;
	/* font-size:.7em; */
	padding:3px;
	text-align:right;
}
.details th.paramHeader{
	background-color:white;
	color:black;
	text-align:center;
}
.details th.param{
	background-color:whitesmoke;
	color:black;
	padding-left:10px;
}
.details td{
	/* font-size:.7em; */
}

/* properties is used to display the table of class properties */
.properties {
	border-color:lightgray;
}
.properties td{
	vertical-align: top;
}
.clsPropertyName {
	font-size:.8em;
	font-weight:bold;	
}
.clsPropertyDeclaration {
	font-family:Courier;
	font-size:.8em;
	font-weight:normal;	
	color:MediumBlue;
}
.clsPropertyDescription {
	font-size:.8em;
	font-weight:normal;	
}	

/* trigger is the set of styles to provide the expand/collapse bar */
h2.trigger {
	margin: 0 0 2 0;
	background-color: rgb(239,241,246);
	color: black;
	font-size: 100%;
	font-weight: normal;
	padding:2px;
}
h2.trigger a {
	color: black;
	text-decoration: none;
}
h2.trigger a:hover { 
	color: darkgrey; 
}
h2.active {
	background-position: left bottom;
} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/


/* toggle_container is the section that gets shown/hidden when the trigger is expanded/collapsed */
.toggle_container {
	padding: 10px; /*--Padding of Container--*/
}
.toggle_container_subtitle {
	font-family:Courier;
	font-size:.8em;
	font-weight:normal;
	color:MediumBlue;
	height: 26px;
}

.hostedSourceLink {
    text-decoration: initial;	
}

.hostedSourceLink:hover {
    text-decoration: underline;   
}

.contentTD {
	width: 80%;
	padding-left: 4px;
}

    /* SIDEBAR CSS */
    div.navbar {
        font-size:.9em;
        font-weight: normal; 
    }        

	div.navbar a:hover { 
	    text-decoration: underline; 
	}


    .sidebar ul {
        margin: 0; 
        padding: 0; 
        list-style: none;
        background: lightgray; 
    }
        
    div.navbar ul li {
        margin-bottom: 0px;
        margin-left: 0px;
        padding: 2px; 
        background: #f2f5f6;
        border: 1px solid #dce4e7;
        border-top-color: #fff;
    }
        
    div.navbar ul li:hover {
        background: gray; 
    }
    
    div.navbar ul li.subitem:hover {
        background: gray; 
    }
    
    div.navbar ul li.subitem {
        background: #eaeef0; 
        border-bottom: 0;
        border-top: 0;        
    }
    
    div.navbar {
       border-top: 1px solid #dce4e7;
    }
    
    div.navbar ul li a {
        display: block; 
        text-decoration: none; 
        padding: 5px 5px 5px 10px;
        color: black;
    }
        
    div.navbar ul li a:hover {
        color: #fff; 
        background: none; 
    }
    
    div.navbar ul li.nav-selected {
        background: LightGray;
    }

    .nav-section-title {
        display: block; 
        text-decoration: none; 
        padding: 5px 5px 5px 10px;
        color: black;
    }
        
    li.collapsed .caret {
        float: right;
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        content: "";
        margin-top: 8px;
        margin-left: 2px;
        border-top: 4px solid #000;
        border-bottom: 0px;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    li .caret {
        float: right;
        width: 0;
        height: 0;
        display: inline-block;
        vertical-align: top;
        content: "";
        margin-top: 8px;
        margin-left: 2px;
        border-top: none;
        border-bottom: 4px solid #000;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .sub-nav-item {
        margin-left: 20px;
    }
    

    /* END - SIDEBAR STYLES */         

