.slds-card_extension {
    border: var(--slds-g-radius-border-1, 2px) solid var(--slds-g-color-neutral-base-90, rgb(221, 219, 218));
}

.slds-card_extension:hover {
    cursor: pointer;
}

.slds-card_extension_active {
    border: var(--slds-g-radius-border-1, 2px) solid var(--slds-g-color-brand-base-60, #1589ee);
}

.slds-card_extension_active:after {
    content: "";
    position: absolute;
    top: -0.01rem;
    right: 0;
    border: var(--slds-g-radius-border-4, 1rem) solid transparent;
    border-right-color: var(--slds-g-color-brand-base-60, #1589ee);
    border-top-color: var(--slds-g-color-brand-base-60, #1589ee);
    border-top-right-radius: var(--slds-g-radius-border-2, 0.25rem);
}

.slds-icon_container_extension {
    z-index: 1;
}

.slds-icon_extension svg {
    fill: var(--slds-g-color-on-accent-1, #ffffff);
}

.picker-icon {
    position: absolute;
    top: 3px;
    left: -1px;
}