/*fix for action overlay issue*/
.THIS .datatableContainer .slds-scrollable_y {
    height: 100%;
}
/*fixed height is required for the infinite scroll to not load automatically*/
.THIS .fixedHeightDatatable {
    height: 350px;
}
/*removes the extra label and automatic tooltip for inputFields*/
.THIS .hideLabel .slds-form-element__label {
    display: none;
    visibility: hidden;
}
/*removes the automatic tooltip for inputFields*/
.THIS .hideTooltip lightning-helptext {
    display: none;
    visibility: hidden;
}
.THIS .totalCountLabel {
    display: inline;
}