/*removes the extra label and automatic tooltip for inputFields*/
.THIS .hideLabel .slds-form-element__label {
    display: none;
    visibility: hidden;
}
/*removes the automatic tooltip for inputFields*/
.THIS .hideTooltip lightning-helptext {
    display: none;
    visibility: hidden;
}
.THIS .totalCountLabel {
    display: inline;
}