.payment-services-iframe {
    width: 100%;
    height: 5.7rem;
    border: none;
}

.iframe-container {
    position: relative;
    margin-top: 8px;
}

.credit-card-container {
    border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, var(--lwc-colorBorder, rgb(216, 221, 230)));
    border-radius: var(--slds-g-radius-border-2, 0.25rem);
    min-height: 5rem;
    box-shadow: none var(--slds-g-sizing-border-2, 2px) var(--slds-g-sizing-border-2, 2px) none var(--slds-g-color-neutral-base-90, #ddd);
}

.credit-card-header {
    background-color: var(--slds-g-color-surface-2, var(--lwc-colorBackgroundShade, rgb(224, 229, 238)));
    font-weight: bold;
}

.hide-card-button {
    font-size: var(--slds-g-font-size-base, 0.8125rem);
    font-weight: normal;
}

.fade-in {
    animation: fade 1s;
    margin-bottom: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}