.THIS.slds-tabs_card {
    background: white;
}

/*link-like behaviors*/
.THIS .bgeLinkButton:focus {
    outline: -webkit-focus-ring-color auto 5px;
    border-width: 0px;
    box-shadow: none;
}
.THIS .bgeLinkButton:hover, .THIS .bgeLinkButton:active {
    outline: 0;
    text-decoration: underline;
}
/*formatting for edit mode checkboxes*/
.THIS .bgeInputCheckbox {
    display: inline-flex;
}
/*padding for helptext icon*/
.THIS .uiOutputCheckbox {
    padding-right: .5rem;
}
/*override different sized list options*/
.THIS .wideListbox .slds-dueling-list__column_responsive .slds-dueling-list__options {
    min-width: 240px;
}
/*removes the extra label and automatic tooltip for inputFields*/
.THIS .hideLabel > label {
    display: none;
    visibility: hidden;
}
/*formatting for checkboxes with help text */
.THIS .inputCheckbox {
    display: inline-flex;
}
/* hide rogue label spacing on lightning:select when variant="label-hidden" */
.THIS .label-hidden > label {
    display: none;
}