.THIS.slds-tabs_card {
    background: white;
}

/*remove focus button formatting*/
.THIS .bgeLinkButton:focus {
    box-shadow: 0 0 3px transparent;
}
/*formatting for edit mode checkboxes*/
.THIS .bgeInputCheckbox{
    display: inline-flex;
}
/*give info icons extra space*/
.THIS .slds-form-element__icon{
    margin-left: .2rem;
}
/*padding for helptext icon*/
.THIS .uiOutputCheckbox {
    padding-right: .5rem;
}
.THIS.header {
    margin-bottom: .75rem;
}
.THIS .headerButtonActions {
    padding-top: .75rem;
}
.THIS .headerText {
    padding-top: .5rem;
}
.THIS .slds-accordion__summary-heading lightning-primitive-icon {
    padding-right: .5rem;
}
/*override different sized list options*/
.THIS .wideListbox .slds-dueling-list__column_responsive .slds-dueling-list__options {
    min-width: 240px;
}
/*removes the extra label and automatic tooltip for inputFields*/
.THIS .hideLabel > label {
    display: none;
    visibility: hidden;
}
/*formatting for checkboxes with help text */
.THIS .inputCheckbox{
    display: inline-flex;
}
/*remove extra top padding on help text icons*/
.THIS .slds-form-element__icon {
    padding-top: 0px;
}
/* hide rogue label spacing on lightning:select when variant="label-hidden" */
.THIS .label-hidden > label {
    display: none;
}