.uniform-top {
    padding-top: 0.50rem;
}

.template-top {
    padding-top: 0.50rem;
}

.gift-entry-top {
    padding-top: 0.0rem;
    margin-top: 0.0rem;
}

.half-reduced {
    padding-top: 0.30rem;
    width: 50%;
}

.expand-collapse-link {
    font-size: 0.8125rem;
    font-weight: 500;
}