td.stencil {
    border-left: 1px solid rgb(221, 219, 218);
}

td:first-child {
    border-left: 1px solid transparent;
}

td.stencil div {
    height: 6px;
    margin: 13px auto;
    border-radius: 1rem;
    background: rgb(243, 242, 242);
    width: 75%;
}