img {
    width: 222px;
    height: 173;
}

p {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 13px;
    margin-bottom: 16px;
    font-size: 16px;
}

.button {
    width: calc(100% - 60px);
    height: 3rem;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
}