.slds-lightning-button-menu_extension {
    font-size: var(--slds-g-font-scale-3, 1.125rem);
    font-weight: bold;
    line-height: var(--lwc-lineHeightHeading, 1.25);
    display: block;
}

.slds-page-header_extension {
    background: var(--slds-g-color-surface-container-1, var(--lwc-colorBackgroundAlt, rgb(255, 255, 255)));
    border-bottom: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-neutral-base-90, var(--lwc-colorBorderSeparatorAlt, rgb(221, 219, 218)));
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
}