.custom-search-result-box {
    width: 100%;
    padding: 0.25rem 0;
    transform: translateY(0);
    clip: rect(0px, 2000px, 2000px, -10px);
    transition: opacity .2s ease-in-out,transform .2s ease-in-out,clip .2s ease-in-out;
    border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-neutral-base-90, rgb(221, 219, 218));
    border-radius: var(--slds-g-radius-border-2, 4px);
    background-color: var(--slds-g-color-disabled-container-1, rgb(255, 255, 255));
    box-shadow: none var(--slds-g-sizing-border-2, 2px) var(--slds-g-sizing-border-4, 4px) var(--slds-g-color-neutral-base-90, #ddd);
    z-index: 7000;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1px;
    max-height: 20rem;
}

.alignment-direction__bottom-left {
    bottom: 8.5rem;
}

.custom-search-result-box > p {
    padding: 0.5rem 2rem;
}

.custom-search-result-box > p:hover {
    background-color: var(--slds-g-color-surface-2, rgb(243, 242, 242));
    cursor: pointer;
}