.THIS .slds-checkbox, .THIS .fiscalYearCheckbox{
    padding-top: 15px;
}
.THIS .slds-form-element__label{
    margin-left: .5rem;
    font-size: 13px;
}
.THIS .slds-input[readonly]{
    padding-left: .5rem;
}