/**.THIS .slds-select[disabled]{
    background-color: transparent;
    border-color: transparent;
    cursor: text;
    padding-left: 0px;
}
.THIS .slds-select[disabled]:hover{
    background-color: #f4f6f9
}
.THIS .slds-select[disabled]:focus{
    background-color: #f4f6f9;
    box-shadow: 0px 0px 3px 0px rgb(0, 112, 210);
}**/

/*doesn't work with: .slds-select[disabled]*/
.THIS .slds-select_container::before{
    /*display: none;*/
}
.THIS .slds-select_container::after{
    /*display: none;*/
}
/*for IE10 if necessary*/
.THIS .slds-select[disabled]::-ms-expand  {
    /*display: none;*/
}
.THIS .slds-checkbox{
    padding-top: 15px;
}