.THIS .page-section {
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.THIS .linkButton:active,
.THIS .linkButton:focus,
.THIS .linkButton:focus:active {
	background-image: none;
	outline: 0;
	box-shadow: none;
}
.THIS .linkButton:hover {
    text-decoration: underline;
}
.THIS .linkButton:disabled, .THIS .styleButton:disabled {
    color: #706e6b;
}
.THIS .disabledEdit {
    pointer-events: none;
    color: #706e6b;
    cursor: default;
}