.THIS .uiButton--default {
    text-shadow: none;
    box-shadow: none;
}

.THIS .uiButton--default .label {
    color: inherit;
}

.THIS .required {
    padding-left: 2px;
    color: red;
    font-weight: 700;
}