.container > h1 {
    margin-bottom: 1rem;
    font-size: 16pt;
    font-weight: bold;
}

.container {
    padding: 1.5rem;
    background-color: #ffffff;
    border: solid 1px #DDDBDA;
    box-shadow: 1px -5px 3px -3px #b0adab7a;
}

.container .resource-list .resource-item {
    padding: 1rem 0;
    border-top: solid 1px  #DDDBDA;
    display: flex;
    justify-content: space-between;
}

.container .resource-list .resource-item span {
    text-align: left;
}

.container .resource-list .resource-item a {
    text-align: right;
    font-weight: bold;
}

.container .link > a {
    color: #006DDC;
    font-size: 16pt;
    font-weight: 400;
}

.container .label > span {
    font-size: 16pt;
    font-weight: 400;
}