.container > h1 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.container {
    padding: 1.5rem;
    background-color: white;
    border: solid 1px #DDDBDA;
    box-shadow: 0 3px 3px 0 rgba(0,0,0, 0.1);
}

.container .resource-list .resource-item {
    padding: 1rem 0;
    border-top: solid 1px #b5b5b5;
    display: flex;
    justify-content: space-between;
}

.container .resource-list .resource-item span {
    text-align: left;
}

.container .resource-list .resource-item a {
    text-align: right;
    font-weight: bold;
}

.container .link > a {
    color: #0070D2;
}