.rd2-entry-custom-field-padding {
    padding-left: 4px;
    padding-right: 4px;
}
/***
* @description Displays a custom informative text for the loading spinner
*/
.loading-spinner::after {
    position: absolute;
    content: attr(data-text);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.slds-modal__content {
    height:auto !important;
    max-height: calc(65vh) !important;
}

.slds-modal {
    height: auto;
}

.paymentDetails {
    padding: 11px 0 0 11px;
}

.experienceTitle {
    font-weight: var(--lwc-fontWeightBold,700);
    color: var(--lwc-colorTextLabel,#5A5A5A);
    font-family: var(--lwc-fontFamily,Work Sans);
}

legend.slds-form-element__legend.slds-form-element__label {
    font-size: 120%;
    white-space: nowrap;
}

.experienceCombo {
    overflow: visible;
    margin-top: -8px;
}