.topsection {
    background-color: #003672;
    width:100%;
    height:110px;
    color:white;
}

.topsection td {
    color:white;
    padding:8px;
}

.topsection a {
    color: white;
}

.topsection h1 {
    color: white;
}

.bottomsection {
    background-color: #003672;
    width:100%;
    height:110px;
    color:white;
    align:center;
}
