.topsection {
    background-color: #003672;
    width:100%;
    height:110px;
    color:white;
}

.topsection td {
    color:white;
    padding:8px;
}

.topsection a {
    color: white;
    text-decoration: none;
}

.topsection h1 {
    font-size: 28px;
    color: white;
}

.bottomsection {
    background-color: #003672;
    width:100%;
    height:110px;
    color:white;
}

.document body {
    background-color: white;
}

td,th {
    padding-right: 10px;
    padding-left: 10px;
}