.list-group-item-success {
  color: #327a4d;
  background-color: #ddede3;
}
a.list-group-item-success {
  color: #327a4d;
}
a.list-group-item-success .list-group-item-heading {
  color: inherit;
}
a.list-group-item-success:hover,
a.list-group-item-success:focus {
  color: #327a4d;
  background-color: #cce5d5;
}
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  color: #fff;
  background-color: #327a4d;
  border-color: #327a4d;
}
.list-group-item-info {
  color: #2d839a;
  background-color: #d9edf2;
}
a.list-group-item-info {
  color: #2d839a;
}
a.list-group-item-info .list-group-item-heading {
  color: inherit;
}
a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #2d839a;
  background-color: #c6e4ec;
}
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #2d839a;
  border-color: #2d839a;
}
.list-group-item-warning {
  color: #e0890f;
  background-color: #fefaf5;
}
a.list-group-item-warning {
  color: #e0890f;
}
a.list-group-item-warning .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warning:hover,
a.list-group-item-warning:focus {
  color: #e0890f;
  background-color: #fcefde;
}
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  color: #fff;
  background-color: #e0890f;
  border-color: #e0890f;
}
.list-group-item-danger {
  color: #a83136;
  background-color: #f7e7e7;
}
a.list-group-item-danger {
  color: #a83136;
}
a.list-group-item-danger .list-group-item-heading {
  color: inherit;
}
a.list-group-item-danger:hover,
a.list-group-item-danger:focus {
  color: #a83136;
  background-color: #f0d4d5;
}
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  color: #fff;
  background-color: #a83136;
  border-color: #a83136;
}
.docs-icon-list {
  padding: 0;
  margin: 0;
  text-align: center;
}
.docs-icon-list > li {
  position: relative;
  margin: 0 3px 6px 0;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 5px;
}
.docs-icon-list > li > .s1icon-class {
  line-height: 20px;
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  padding: 5px 0;
  bottom: 10px;
  left: 0;
  width: 100%;
}
.docs-icon-list > li .s1utility {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  display: block;
}
.docs-icon-list > li .s1utility-class {
  font-size: 14px;
}
.docs-icon-list > li:hover > .s1icon-class {
  display: block;
}
.fn-sidebar.affix,
.fn-sidebar.affix-top {
  top: 20px;
}
.fn-sidebar.affix-bottom {
  bottom: 20px;
}
.fn-sidebar .nav > li > a {
  color: #5c7995;
}
.fn-sidebar .nav > li .active > a {
  color: #3c3d3e;
  border-left: 3px solid #2a94d6;
}
.fn-sidebar > .nav > li a {
  padding: 5px 10px;
}
.fn-sidebar > .nav > li > .nav {
  margin-left: 20px;
}
.fn-sidebar > .nav > li > .nav > li > a {
  padding: 5px 10px 5px 10px;
}
@media (max-width: 992px) {
  .fn-sidebar.affix {
    position: relative;
  }
}
.fn-example {
  background-color: #f8f8f8;
  clear: both;
  overflow: hidden;
  padding: 45px 15px 15px 15px;
  border: 1px solid #cfd0d2;
  position: relative;
  border-radius: 5px 5px 0 0;
}
.fn-example:after {
  content: "example";
  clear: both;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 15px;
  font-weight: 700;
  color: #b8b8b8;
}
.fn-example + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.fn-footer {
  background-color: #34495e;
  padding: 30px 0;
  margin-top: 50px;
  color: #f5f6f7;
}
