.slds-lightning-button-menu_extension {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: var(--lwc-line-height-heading, 1.25);
    display: block;
}

.slds-page-header_extension {
    background: var(--lwc-color-background-alt, rgb(255, 255, 255));
    border-bottom: 1px solid var(--lwc-color-border-separator-alt, rgb(221, 219, 218));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}