.payment-services-iframe {
    width: 100%;
    height: 4.7rem;
    border: none;
}

.iframe-container {
    position: relative;
}

.credit-card-container {
    border: 1px solid #E2E1E0;
    border-radius: 0.25rem;
    min-height: 5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.credit-card-header {
    background-color: #E2E1E0;
    font-weight: bold;
}

.hide-card-button {
    line-height: 0;
    font-weight: 100;
    font-size: 0.8125rem;
    font-weight: 500;
}

.fade-in {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}