.THIS.slds-tabs_card {
    background: white;
}
/*formatting for edit mode checkboxes*/
.THIS .templateInputCheckbox{
    display: inline-flex;
}
/*padding for helptext icon*/
.THIS .uiOutputCheckbox {
    padding-right: .5rem;
}
.THIS.header {
    margin-bottom: .75rem;
}
.THIS .headerButtonActions {
    padding-top: .75rem;
}
.THIS .headerText {
    padding-top: .5rem;
}