.slds-button_extension-back {
    height: 40px;
	color: var(--slds-g-color-accent-2, #006DCC);
	font-family: "Salesforce Sans";
	font-size: var(--slds-g-font-size-base, 13px);
    line-height: 40px;
    font-weight: normal;
}

.slds-text-heading_medium_extension, .slds-text-heading_small_extension {
    font-weight: normal;
    font-family: "Salesforce Sans";
}

.slds-text_extension {
    color: var(--slds-g-color-on-success-2, #080707);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    line-height: 20px;
}

.table-header {
    color: var(--slds-g-color-on-success-2, #080707);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-scale-1, 14px);
    line-height: 21px;
}

.table-header-target {
    margin-left: 1.75rem;
}

.table-no-field-mappings {
    background-color: var(--slds-g-color-disabled-container-1, rgb(250, 250, 249));
}

.custom-col {
    display: inline-block;
    width: auto;
}

.custom-col_1, .custom-col_5 {
    width: 20%;
}

.custom-col_3, .custom-col_7 {
    width: 125px;
}

.custom-col_4 {
    width: 95px;
}