.item-card {
    position: relative;
    min-height: 185px;
    border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, lightgray);
    width: 100%;
    margin: 1.5rem 0;
    padding: 18px;
    display: grid;
    grid-template-columns: 185px auto;
}

.item-card .card-image {
    display: flex;
    align-items: center;
    width: 185px;
    grid-column: 1/ 2;
    padding-left: 6px;
    padding-right: 24px;
    border-right: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, lightgray);
}

.item-card .card-image img {
    width: 100%;
    height: 150px;
}

.item-card .card-content {
    display: flex;
    position: relative;
    grid-column: 2/ 3;
    padding-left: 14px;
    flex-direction: column;
    justify-content: space-between;
}

.item-card .card-content .content-time {
    position: absolute;
    right: 0;
    height: 14px;
    width: 266.91px;
    color: var(--slds-g-color-on-surface-1, #706E6B);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    letter-spacing: 0;
    line-height: 19.97px;
    text-align: right;
}

.item-card .card-content .content-title {
    color: var(--slds-g-color-info-1, #3E3E3C);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
}

.item-card .card-content .content-text {
    color: var(--slds-g-color-info-1, #3E3E3C);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    letter-spacing: 0;
    line-height: 20px;
    padding-right: 3rem;
 }

 lightning-input.item-checkbox {
    position: absolute;
    left: -38px;
    top: calc(50% - 10px);
    outline: white 5px solid;
    background: var(--slds-g-color-disabled-container-1, white);
    outline-offset: 0;
 }

 .item-card .card-content .content-footer {
    display: flex;
    align-items: baseline;
 }

 .item-card .card-content .content-footer a {
    color: var(--slds-g-color-accent-2, #006DCC);
    font-family: "Salesforce Sans";
    font-size: var(--slds-g-font-size-base, 13px);
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    min-width: 10rem;
    flex: 1 0 0;
 }

 .item-card .card-content .content-footer .footer-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
 }
 
 .item-card .card-content .content-footer .content-footer-aux {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
 }

 .item-card .card-content .content-footer .without-link {
    justify-content: flex-end;
 }

 @media(max-width: 1073px) {
    .item-card .card-content {
        grid-column: 1/ 3;
    }
    .item-card .card-image {
        display: none;
    }
}

lightning-button {
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media(max-width: 1173px) {
    .item-card {
        grid-template-columns: 100px auto;
    }
    .item-card .card-image {
        width: 100px;
    }
}