.icon-transition {
    transform: rotate(0deg);
    transform-origin: 25% 50%;
    transition: all 0.3s ease-in-out 0s;
}

.icon-transition_is-open {
    transform: rotate(90deg);
}

.section-transition {
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}

.section-transition_is-closed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}