.slds-card_extension {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid rgb(221, 219, 218);
}

.slds-card_extension-widget {
    background-color: #ECEBEA;
}

.vertical-align-center {
    margin: auto 0;
}