.THIS.custom-modal .modal-body,
.THIS.custom-modal .slds-card__footer {
    padding: 0;
}

.THIS.custom-modal .slds-progress {
    max-width: 100%;
}

.THIS lightning-input-field.help-text-hidden lightning-helptext {
    display: none;
}