/*shrink textarea to be even with other fields*/
.THIS .equalHeight textarea {
    height: 32px;
}

.THIS .icn-teal > lightning-primitive-icon > svg > use {
    fill: #43b5b5;
}

.THIS .selected-corner-check {
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 1rem;
    border-right-color: #1589ee;
    border-top-color: #1589ee;
}

.THIS .upper-right {
    position: absolute;
    top: 0;
    right: 0;
}