.slds-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: var(--slds-g-sizing-border-1, 1px) solid transparent;
    border-radius: var(--slds-g-radius-border-2, .25rem);
    line-height: 1.875rem;
    text-decoration: none;
    color: var(--slds-g-color-accent-container-1, var(--lwc-brandAccessible, rgb(0, 112, 210)));
    white-space: normal;
    appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slds-button:hover {
    background-color: var(--slds-g-color-surface-2, rgb(244, 246, 249));
    color: var(--slds-g-color-accent-container-2, var(--lwc-brandAccessibleActive, rgb(0, 95, 178)));
}

.slds-button_neutral {
    padding-left: var(--lwc-spacingMedium, 1rem);
    padding-right: var(--lwc-spacingMedium, 1rem);
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, var(--lwc-colorBorder, rgb(221, 219, 218)));
    transition: border .15s linear;
    border-color: var(--slds-g-color-border-1, var(--lwc-colorBorder, rgb(221, 219, 218)));
    background-color: var(--slds-g-color-surface-container-1, var(--lwc-colorBackgroundAlt, rgb(255, 255, 255)));
}

.slds-button_extension {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: none;
    border-bottom-left-radius: var(--slds-c-card-radius-border,var(--slds-s-container-radius-border, var(--slds-g-radius-border-2, .25rem)));
    border-bottom-right-radius: var(--slds-c-card-radius-border,var(--slds-s-container-radius-border, var(--slds-g-radius-border-2, .25rem)));
}

.slds-card.slds-card_boundary {
    border-color: var(--slds-g-color-border-1, var(--lwc-colorBorder, rgb(221, 219, 218)));
}