html body.sfdcBody {
    padding: 0 !important;
}
input.lookupInput {
    background-color: white;
    background-image: none;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    width: 100%;
    -webkit-transition: border 0.1s linear, background-color 0.1s linear;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 16px 0 12px;
    line-height: 34px;
    min-height: calc(34px + 2px);
    line-height: normal;
    margin-right: -30px;
}