.THIS.slds-grid_extension {
    height: 100%;
}

.THIS.slds-grid_extension .slds-size_1-of-1_outer-container {
    border-radius: 0;
    height: 100%;
}

.THIS.slds-grid_extension .slds-listbox_extension .slds-form-element__control .slds-combobox_container .slds-combobox .slds-listbox {
    max-height: 20rem;
}
